body {
    font-family: 'Segoe UI';
    background: #f5f8ff; 
}

div {
    background: white; 
}

h1 {
    width: 100%-5vw; 
    padding-left: 5vw; 
    margin-left: 5vw; 
    margin-right: 5vw; 
    background: #6c65f2;
    color: white; 
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 1vh; 
}

label {
    font-size: 14px;
    font-weight: 600; 
}

.input {
    border-style: solid; 
    border-width: 0px 2px 2px 2px; 
    border-radius: 0px 0px 10px 10px; 
    border-color: #e1e4ea; 
    padding-bottom: 25px; 
    padding-top: 25px;
    margin-left: 5vw; 
    margin-right: 5vw; 
}

.output {
    margin-top: 10px; 
    margin-left: 5vw; 
    margin-right: 5vw; 
    padding-top: 10px; 
    text-align: center; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    background: #f5f8ff; 
}

.outputme {
    padding-top: 2vh; 
    border-radius: 10px;
    margin: 0px, 10px, 0px, 10px; 
    background: white; 
    border-style: solid;
    border-color: #e1e4ea;
}

.purptext {
    color: #6c65f2;
    font-size: 25px; 
}


.inlineme {
    padding-top: 3px; 
    display: inline-block; 
    padding-left: 1vw; 
    min-inline-size: 10vw; 
}

input[type=text], select {
    min-width: 90%; 
}

input[type=submit] {
    max-width: 100px; 
    margin-left: 1vw; 
    background: #6c65f2;
    color: white; 
    padding: 10px 25px 10px 25px;  
    border-radius: 4px; 
    border-color: #e1e4ea;
}
